/* COLORS */
$primaryOrange: hsl(31, 77%, 52%);
$primaryCyan: hsl(184, 100%, 22%);
$primaryCyanDark:hsl(179, 100%, 13%);
$neutralWhite: hsla(0, 0%, 100%, 0.75);
$neuturalGray: hsl(0, 0%, 95%);

/* FONTS */
$displayFont: "Big Shoulders Display", cursive;
$generalFont: "Lexend Deca", sans-serif;

